
.center-wrapper {
margin: 0 auto;
margin-top: 50px;
width: 650px;
height: 175px;
}




.name_doctor{
	position: absolute;
	left: 95px;
	top: 12px;
	
}

.search_button{
margin: 0 auto;
width: 250px;
height: 20px;
}




.config_button{
margin-top: 210px;
margin-bottom: 40px;

width: 250px;
height: 20px;
} 